.btn--primary
{
	background: #0057b8 !important;
	border-color: #0057b8 !important;
}

input[type="radio"]
{
	height: auto;
	-webkit-appearance: radio;
	width: auto;
}

nav .logo-tagline
{
	font-size: 11px;
}

section.landing
{
	color: white;
	padding-top: 0;
}

section.landing .slides
{
	font-family: 'Didact Gothic', sans-serif;
	height: 400px;
	overflow: hidden;
}

section.landing .slides .backdrop
{
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
}

section.landing .slide-1
{
	background: url('../img/nodes.jpg');
}

section.landing .slide-1 .backdrop
{
	background: rgba(0, 0, 0, 0.3);
}

section.landing .slide-2
{
	background: url('../img/city-brown.jpg');
}

section.landing .slide-3
{
	background-image: url('../img/rock.jpg');
}

section.landing .slide-1 .backdrop
{
	background: rgba(0, 0, 0, 0.3);
}

section.landing .slide-4
{
	background-image: url('../img/capitol.jpg');
}

section.landing .slides button
{
	background-color: rgba(255, 255, 255, 0.2);
}

section.landing .slides .flickity-slider > li > div.backdrop > div
{
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

section.landing .slides .flickity-slider > li > div.backdrop > div > h1
{
	color: white;
	font-size: 3.5em;
	font-weight: bold;
	/*text-shadow: 1px 0px 20px rgba(0, 0, 0, 0.2), 0px 1px 20px rgba(0, 0, 0, 0.2), -1px 0px 20px rgba(0, 0, 0, 0.2), 0px -1px 20px rgba(0, 0, 0, 0.2);*/
}

section.landing .slides .flickity-slider > li > div.backdrop > div > h2
{
	color: white;
	font-size: 2.0em;
	font-weight: bold;
	/*text-shadow: 1px 0px 20px rgba(0, 0, 0, 0.4), 0px 1px 20px rgba(0, 0, 0, 0.4), -1px 0px 20px rgba(0, 0, 0, 0.4), 0px -1px 20px rgba(0, 0, 0, 0.4);*/
}

section.landing .slides .flickity-slider > li
{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

section.landing .slides .flickity-slider > li ul.list
{
	font-size: 1.6em;
	font-weight: bold;
	/*text-shadow: 1px 0px 15px rgba(0, 0, 0, 0.6), 0px 1px 15px rgba(0, 0, 0, 0.6), -1px 0px 15px rgba(0, 0, 0, 0.6), 0px -1px 15px rgba(0, 0, 0, 0.6);*/
}

section.landing ul.list
{
	list-style-position: inside;
	list-style-type: disc;	
}

section.whatisrigidbit img.icon
{
	width: 125px !important;
}

section.whatisrigidbit .mb--1
{
	margin-bottom: 1.85714286em; /* Fix for mb--1 not working on small screens. */
}

.cta label
{
	display: block;
	margin-bottom: 10px;
	text-align: left;
}

.cta input[type='submit']
{
	cursor: pointer;
}

.cta textarea
{
	height: 100px;
	width: 100%;
}

.lead,
.lead > li
{
	font-weight: 300;
}