.main-container h1,
.main-container h2
{
	margin-bottom: 5px;
}

.main-container ul.lead > li
{
	margin-bottom: 10px;
}

@media only screen and (min-width: 1200px)
{
	.main-container img
	{
		position: relative;
		top: -25px;
	}
}

.cta label
{
	display: block;
	margin-bottom: 10px;
	text-align: left;
}

.cta input[type='submit']
{
	cursor: pointer;
}

.cta textarea
{
	height: 100px;
	width: 100%;
}