section.landing h1,
section.landing h2
{
	margin-bottom: 5px;
}

section.landing ul.lead > li
{
	margin-bottom: 10px;
}

@media only screen and (min-width: 1200px)
{
	section.landing img
	{
		position: relative;
		top: -25px;
	}
}

section.whatisrigidbit img.icon
{
	width: 125px !important;
}

section.whatisrigidbit .mb--1
{
	margin-bottom: 1.85714286em; /* Fix for mb--1 not working on small screens. */
}

.cta label
{
	display: block;
	margin-bottom: 10px;
	text-align: left;
}

.cta input[type='submit']
{
	cursor: pointer;
}

.cta textarea
{
	height: 100px;
	width: 100%;
}